header {
  width: 100%;
  background-color: transparent;
  position: relative;

  .go-back-container {
    position: absolute;
    top: 15.4px;
    left: 15.4px;
    color: white;

    a {
      display: flex;
      align-items: center;
      gap: 9.6px;
      font-size: 1.125rem;
    }
  }
}
